# Virtual env
.venv

# Env files
.env

# Txt files but requirements
*.txt
!requirements.txt

# .DS_Store
.DS_Store

**/*.terraform
.auto.tfvars
Terraform/plan
*.tfstate
*.tfstate.backup
.terraform.*

# VSCode
.vscode

# Node
node_modules
