application    = "terraform"
environments   = ["dev", "test", "prod"]
owner          = "kacper.szczepanek@cdv.pl"
location       = "westeurope"
prefix         = "cdv"
admin_password = "Q1w2e3r4t5y6."
environment    = "dev"
